# Configurações do Flask
SECRET_KEY=sua_chave_secreta_aqui_gerada_aleatoriamente
FLASK_DEBUG=false
APP_ENV=development

# Configurações de Cookie (segurança)
SESSION_COOKIE_HTTPONLY=true
SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_SECURE=false  # Mude para true em produção com HTTPS

# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD='Diana@3021'
DB_NAME=personal_finance_flow

# Configurações do OpenAI (opcional)
OPENAI_API_KEY=chave_openai_aqui
OPENAI_MODEL=gpt-4o-mini
